<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app_1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".upload"></activity>
        <activity android:name=".qr" />
        <activity android:name=".APP_EXIT" />
        <activity android:name=".APP_SMS" />
        <activity android:name=".APP_14CONF" />
        <activity android:name=".APP_13CAKE" />
        <activity android:name=".APP_12ICE" />
        <activity android:name=".APP_11FASTFOOD" />
        <activity android:name=".APP_10juice" />
        <activity android:name=".APP_9NV" />
        <activity android:name=".APP_6" />
        <activity android:name=".APP_7" />
        <activity android:name=".APP_5" />
        <activity android:name=".APP_4" />
        <activity android:name=".App_3" />
        <activity android:name=".APP_2" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>